body {
    background-image: url("./media/background.jpg");  
    background-color: white;
    background-size: cover;
}
.about {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    text-align: center;
    color: white;
}
.main {
    background-color: rgb(230, 191, 191);
    border: 0px;
    width: 40%;
    height: 30%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    text-align: center;
    padding: 4px;
}
.header {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.header2 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.list {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
.header3 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.header3 a {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.header3 a:hover {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(175, 96, 96);
}
